!!!
%html
  %head
    %title THYNTH
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %link{ href: "styles/app.css", rel: "stylesheet" }
  %body{ "ng-app" => "app" }
    #content.ng-cloak{ "ng-controller" => "MainCtrl" }

      #keyboard

      -# %button{ "ng-click" => "arpeggiate()" }
        -# Arpeggiate!

      %button{ "ng-click" => "addVoice()" }
        New Voice

      .voices
        .voice{ "ng-repeat" => "voice in voices" }
          %label.oscillator-type
            %span Type:
            - ['sine', 'square', 'sawtooth', 'triangle'].each do |oscillator_type|
              %label{ for: "oscillator-type-#{oscillator_type}" }
                %input{ id: "oscillator-type-#{oscillator_type}", "ng-model" => "voice.oscillator.oscillatorType", type: "radio", value: oscillator_type }
                  = oscillator_type.capitalize

          .knobs
            %label
              %span Volume:
              %input{ "ng-model" => "voice.envelope.volume", min: "0", max: "1", step: "0.01", type: "range" }
                {{ voice.envelope.volume }}
            %label
              %span Attack:
              %input{ "ng-model" => "voice.envelope.attack", min: "0", max: "1", step: "0.01", type: "range" }
                {{ voice.envelope.attack }}
            %label
              %span Release:
              %input{ "ng-model" => "voice.envelope.release", min: "0", max: "1", step: "0.01", type: "range" }
                {{ voice.envelope.release }}

          %label.detune
            %span Detune:
            %input{ "ng-model" => "voice.oscillator.detune", type: "range", min: "-1200", max: "1200" }
              {{ voice.oscillator.detune }} Cents

  %script{ src: "scripts/vendor/angular.js" }
  %script{ src: "scripts/vendor/jquery.js" }
  %script{ src: "scripts/vendor/qwertyHancock.js" }
  %script{ src: "scripts/app.js" }
  %script{ src: "scripts/lib/voice.js" }
  %script{ src: "scripts/lib/arpeggiator.js" }
  %script{ src: "scripts/lib/oscillator.js" }
  %script{ src: "scripts/lib/amplifier.js" }
  %script{ src: "scripts/lib/envelopeGenerator.js" }
  %script{ src: "scripts/controllers/mainCtrl.js" }
