!!!
%html
  %head
    %title Les Numéros
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{href: "styles/normalize.css", rel: "stylesheet"}
    %link{href: "styles/foundation.css", rel: "stylesheet"}
    %link{href: "styles/app.css", rel: "stylesheet"}
    %script{src: "http://code.jquery.com/jquery-1.10.1.min.js"}
    %script{src: "scripts/speak.js"}
    %script{src: "scripts/app.js"}
  %body
    #content
      .row
        .large-12.columns
          %h1
            Les Numéros
            %small Practice your French numbers!
          #audio

      .row
        .large-6.columns
          %h2
            Step 1
            %small Listen to the spoken number
          %a#next.large.radius.expand.button Say a Number
          %a#repeat.large.radius.expand.secondary.button Repeat
        .large-6.columns
          %h2
            Step 2
            %small Type in the number you heard
          %form
            %input#answer{placeholder: "Answer", type: "text"}
            %input#submit.radius.button{text: "Submit Answer", type: "submit"}
            %a#showanswer.alert.radius.button Show Answer
            %em For plain numbers, do not include commas (1234); for currencies, use just the decimal (12.34).

      .row
        .large-12.columns
          %h2
            Step 3
            %small Earn all the stars!
          %stars
            %p
              No stars yet.
              %em (You can't actually earn stars yet. Sorry!)
              -# %em (You have to guess the spoken number correctly to earn a star. Yes, it's work!)

      .row
        .large-12.columns
          %fieldset
            %legend Options
            %h5
              Number Type
              %small Stop giving that cashier a blank stare.
            %label{for: "typeplain"}
              %input#typeplain{checked: "checked", name: "numbertype", type: "radio", value: "plain"}
                Plain
            %label{for: "typecurrency"}
              %input#typecurrency{name: "numbertype", type: "radio", value: "currency"}
                Currency
            %h5
              Maximum
              %small Start small, go big!
            %label{for: "max10"}
              %input#max10{name: "maximum", type: "radio", value: "10"}>
              10
            %label{for: "max100"}
              %input#max100{checked: "checked", name: "maximum", type: "radio", value: "100"}>
              100
            %label{for: "max1000"}
              %input#max1000{name: "maximum", type: "radio", value: "1000"}>
              1000
            %h5
              Voice Speed
            %span Slow
            %input#speed{max: "300", min: "100", step: "50", type: "range", value: "100"}
            %span Fast
