html, body {
  height: 100%;
}

.ng-cloak{
  display:none !important;
}
.ng-show {
  position: absolute;
  top: 30%;
  left: 50%;
  height: 2em;
  width: 14em;
  margin-top: -1em;
  margin-left: -7em;
  text-align: center;
}
.ng-show img {
  margin-bottom: 10px;
}

#content {
  padding-bottom: 20px;
}

#submit {
  width: 60%;
}
#showanswer {
  width: 38%;
}

.options, .footer {
  margin-top: 35px;
}
